/* Общий стиль для всех Divider */
.divider {
  background-color: #e0e0e0; /* Цвет разделителя */
  height: 1px; /* Высота разделителя */
}

/* Разделитель на всю ширину экрана (по умолчанию на 100%) */
.divider.fullWidth {
  width: 100%;
  margin: 20px 0; /* Отступы сверху и снизу */
}

/* Разделитель на ширину контейнера секции */
.divider.containerWidth {
  width: 90%; /* Ширина контейнера секции */
  margin: 20px auto; /* Центрируем по горизонтали */
}
