.typography {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.h2 {
  font-size: 2rem;
  font-weight: 600;
}

.h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

.h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.p {
  font-size: 1rem;
  font-weight: 400;
}

.span {
  font-size: 1rem;
  font-weight: 400;
  display: inline;
}

/* Цвета */
.primary {
  color: #484848;
}

.secondary {
  color: #8a8a8a;
}

.error {
  color: #ff4646;
}

.black {
  color: #000000;
}

.link {
  color: #5b86e5;
}

.warning {
  color: #ff706b;
}

/* Выравнивание */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/*Шрифты*/
.volkov {
  font-family: 'Volkhov', serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.jost {
  font-family: 'Jost', sans-serif;
}